/****** Object:  Table [dbo].[Car]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[IdCar] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [varchar](50) NOT NULL,
	[TypeOfCar] [int] NOT NULL,
	[CarMake] [int] NOT NULL,
	[CarColor] [int] NOT NULL,
	[TypeEngine] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[IdCar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarColor]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarColor](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[NameColor] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CarColor] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarMake]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarMake](
	[IdMake] [int] IDENTITY(1,1) NOT NULL,
	[NameMake] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CarMake] PRIMARY KEY CLUSTERED 
(
	[IdMake] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarRental]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarRental](
	[IdCarRental] [int] IDENTITY(1,1) NOT NULL,
	[CarId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[CityId] [int] NOT NULL,
	[DateTimeStart] [datetime] NOT NULL,
	[DateTimeEnd] [datetime] NULL,
 CONSTRAINT [PK_CarRental] PRIMARY KEY CLUSTERED 
(
	[IdCarRental] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[IdCity] [int] NOT NULL,
	[NameCity] [varchar](50) NOT NULL,
	[PriceInMinute] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[IdCity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeEngine]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeEngine](
	[IdEngine] [int] NOT NULL,
	[NameEngine] [varchar](50) NOT NULL,
	[YearEngine] [date] NOT NULL,
	[NumberHorsePower] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_TypeEngine] PRIMARY KEY CLUSTERED 
(
	[IdEngine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfCar]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfCar](
	[IdTypeOfCar] [int] IDENTITY(1,1) NOT NULL,
	[NameType] [varchar](50) NOT NULL,
	[PriceInMinute] [int] NOT NULL,
 CONSTRAINT [PK_TypeOfCar] PRIMARY KEY CLUSTERED 
(
	[IdTypeOfCar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/29/2020 9:07:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[IdUsers] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[DateBirthdate] [date] NOT NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[IdUsers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([IdCar], [VIN], [TypeOfCar], [CarMake], [CarColor], [TypeEngine]) VALUES (1, N'1G6DG577180543398', 6, 48, 4, 8)
INSERT [dbo].[Car] ([IdCar], [VIN], [TypeOfCar], [CarMake], [CarColor], [TypeEngine]) VALUES (2, N'2T1KU4EEXCC005225', 6, 88, 49, 9)
INSERT [dbo].[Car] ([IdCar], [VIN], [TypeOfCar], [CarMake], [CarColor], [TypeEngine]) VALUES (4, N'1FMCU0F76EU184231', 4, 77, 79, 17)
GO
SET IDENTITY_INSERT [dbo].[Car] OFF
SET IDENTITY_INSERT [dbo].[CarColor] ON 

INSERT [dbo].[CarColor] ([IdColor], [NameColor]) VALUES (1, N'Fuscia')
INSERT [dbo].[CarColor] ([IdColor], [NameColor]) VALUES (2, N'Blue')
INSERT [dbo].[CarColor] ([IdColor], [NameColor]) VALUES (3, N'Blue')
GO
SET IDENTITY_INSERT [dbo].[CarColor] OFF
SET IDENTITY_INSERT [dbo].[CarMake] ON 

INSERT [dbo].[CarMake] ([IdMake], [NameMake]) VALUES (1, N'Ford')
INSERT [dbo].[CarMake] ([IdMake], [NameMake]) VALUES (2, N'Ford')
INSERT [dbo].[CarMake] ([IdMake], [NameMake]) VALUES (3, N'Volvo')
GO
SET IDENTITY_INSERT [dbo].[CarMake] OFF
SET IDENTITY_INSERT [dbo].[CarRental] ON 

INSERT [dbo].[CarRental] ([IdCarRental], [CarId], [UserId], [CityId], [DateTimeStart], [DateTimeEnd]) VALUES (0, 10, 2, 12, CAST(N'2020-08-29T14:45:48.667' AS DateTime), CAST(N'2020-08-29T16:58:59.567' AS DateTime))
INSERT [dbo].[CarRental] ([IdCarRental], [CarId], [UserId], [CityId], [DateTimeStart], [DateTimeEnd]) VALUES (1, 7, 2, 5, CAST(N'2020-08-29T16:58:52.227' AS DateTime), CAST(N'2020-08-29T21:04:49.243' AS DateTime))
INSERT [dbo].[CarRental] ([IdCarRental], [CarId], [UserId], [CityId], [DateTimeStart], [DateTimeEnd]) VALUES (2, 7, 2, 7, CAST(N'2020-08-29T17:00:05.877' AS DateTime), CAST(N'2020-08-29T17:00:10.377' AS DateTime))
SET IDENTITY_INSERT [dbo].[CarRental] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([IdCity], [NameCity], [PriceInMinute]) VALUES (1, N'Drosato', 37)
INSERT [dbo].[City] ([IdCity], [NameCity], [PriceInMinute]) VALUES (2, N'Bailizhou', 94)
INSERT [dbo].[City] ([IdCity], [NameCity], [PriceInMinute]) VALUES (3, N'Daying', 37)
GO
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([IdRole], [NameRole]) VALUES (2, N'Client')
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[TypeEngine] ON 

INSERT [dbo].[TypeEngine] ([IdEngine], [NameEngine], [YearEngine], [NumberHorsePower]) VALUES (1, N'Miata MX-5', CAST(N'1994-01-01' AS Date), 285)
INSERT [dbo].[TypeEngine] ([IdEngine], [NameEngine], [YearEngine], [NumberHorsePower]) VALUES (2, N'A6', CAST(N'1996-01-01' AS Date), 73)
INSERT [dbo].[TypeEngine] ([IdEngine], [NameEngine], [YearEngine], [NumberHorsePower]) VALUES (3, N'Ram Wagon B350', CAST(N'1994-01-01' AS Date), 108)
SET IDENTITY_INSERT [dbo].[TypeEngine] OFF
SET IDENTITY_INSERT [dbo].[TypeOfCar] ON 

INSERT [dbo].[TypeOfCar] ([IdTypeOfCar], [NameType], [PriceInMinute]) VALUES (1, N'Economy', 100)
INSERT [dbo].[TypeOfCar] ([IdTypeOfCar], [NameType], [PriceInMinute]) VALUES (2, N'Standart', 200)
INSERT [dbo].[TypeOfCar] ([IdTypeOfCar], [NameType], [PriceInMinute]) VALUES (3, N'Prestige', 300)
SET IDENTITY_INSERT [dbo].[TypeOfCar] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([IdUsers], [FirstName], [LastName], [Email], [Password], [DateBirthdate], [RoleId]) VALUES (1, N'admin', N'admin', N'admin@car', N'123', CAST(N'2020-01-20' AS Date), 1)
INSERT [dbo].[Users] ([IdUsers], [FirstName], [LastName], [Email], [Password], [DateBirthdate], [RoleId]) VALUES (2, N'Lucius', N'Lealle', N'client@car', N'123', CAST(N'2020-07-04' AS Date), 2)
INSERT [dbo].[Users] ([IdUsers], [FirstName], [LastName], [Email], [Password], [DateBirthdate], [RoleId]) VALUES (3, N'Pietro', N'Kubasiewicz', N'pkubasiewicz2@jugem.jp', N'c7xHkgWSCJ1', CAST(N'2019-12-09' AS Date), 2)
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_CarColor] FOREIGN KEY([CarColor])
REFERENCES [dbo].[CarColor] ([IdColor])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_CarColor]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_CarMake] FOREIGN KEY([CarMake])
REFERENCES [dbo].[CarMake] ([IdMake])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_CarMake]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_TypeEngine] FOREIGN KEY([TypeEngine])
REFERENCES [dbo].[TypeEngine] ([IdEngine])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_TypeEngine]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_TypeOfCar] FOREIGN KEY([TypeOfCar])
REFERENCES [dbo].[TypeOfCar] ([IdTypeOfCar])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_TypeOfCar]
GO
ALTER TABLE [dbo].[CarRental]  WITH CHECK ADD  CONSTRAINT [FK_CarRental_Car] FOREIGN KEY([CarId])
REFERENCES [dbo].[Car] ([IdCar])
GO
ALTER TABLE [dbo].[CarRental] CHECK CONSTRAINT [FK_CarRental_Car]
GO
ALTER TABLE [dbo].[CarRental]  WITH CHECK ADD  CONSTRAINT [FK_CarRental_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([IdCity])
GO
ALTER TABLE [dbo].[CarRental] CHECK CONSTRAINT [FK_CarRental_City]
GO
ALTER TABLE [dbo].[CarRental]  WITH CHECK ADD  CONSTRAINT [FK_CarRental_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([IdUsers])
GO
ALTER TABLE [dbo].[CarRental] CHECK CONSTRAINT [FK_CarRental_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([IdRole])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
USE [master]
GO
